/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.remote_grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.remote_grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.remote_grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.remote_grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.remote_grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

input[type=text], input[type=password] {
	padding-left: 15px !important;
}

.remote_grid, .timer_grid {
	display: grid;
	grid-gap: 10px;
}
.timer_grid {
	grid-template-columns: repeat(2, 1fr);
}

.lamp-icon {
	font-size: 70px;
}

.newLamp, .newTimer {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 9999999;
}

.lampBewerken, .timerBewerken {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.timerTegel {
	.lampNaam {
		font-size: 23px;
		margin-bottom: 10px;
	}
	text-align: left;
	padding: 15px;
}

.remote_grid.sort {
	.lampToggle {
	    -webkit-animation: mymove .25s infinite; /* Safari 4.0 - 8.0 */
	    animation: mymove .25s infinite;
	    animation-duration: .25s;
	    &:nth-child(3n + 1) {
	    	animation-delay: 0s
	    }
	    &:nth-child(3n + 2) {
	    	animation-delay: -.3s
	    }
	    &:nth-child(3n + 3) {
	    	animation-delay: -.6s
	    }
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0% {
        transform: rotate(-1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-out;
    }
}

/* Standard syntax */
@keyframes mymove {
    0% {
        transform: rotate(-1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-out;
    }
}
